

body {
    font-family: verdana, sans-serif;
    color: whitesmoke;
    background-color: black;
    vertical-align: middle;
    
}

button {
    display: inline-block;
    padding: 6px 10px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #04AA6D;
    border: none;
    border-radius: 15px;
    box-shadow: 0 5px #999;
}

button:active {
  background-color: #04AA6D;
  box-shadow: 0 3px #666;
  transform: translateY(4px);
}
