body {
    font-family: Arial, sans-serif;
}

#time-form {
    width: 50%;
    margin: auto;
}

label {
    display: block;
    margin-bottom: 10px;
}

input[type="text"], textarea {
    width: 100%;
    height: 30px;
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

button {
    background-color: #4CAF50;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #3e8e41;
}

